<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @user.icon %>
</p>

<p>
  <strong>Catstatus:</strong>
  <%= @user.catStatus %>
</p>

<p>
  <strong>Keystatus:</strong>
  <%= @user.keyStatus %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
